<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="use_sql_comments">true</property>
     <mapping class="edu.neu.blackboard.domain.Users" />
     <mapping class="edu.neu.blackboard.domain.Forgot" />
   <mapping class="edu.neu.blackboard.domain.Items" />
   <mapping class="edu.neu.blackboard.domain.Orderlist" />
   <mapping class="edu.neu.blackboard.domain.Order" />
 </session-factory>
</hibernate-configuration>
